table {
    border-collapse: collapse;
    width: 100%;
}

th,
td {
    border: 1px solid #ddd;
    padding: 8px;
    text-align: left;
    background-color: #4CAF50;
    color: white;
}

th {
    background-color: #4CAF50;
    color: white;
}

body{
    text-align: center;
}

button{
    background-color: #4CAF50;
    border: none;
    border-radius: 5px; 
    color: white;
    padding: 2px;
}